<div class="sidebar">
  <ul class="list-items">
    <li *ngFor="let item of sideBarMenu" class="firstLi">
      <div
        [routerLink]="item.route"
        (click)="toggleSubMenu(item)"
        class="list1"
        [class.active]="item.isOpen || item.isHovered"
        (mouseover)="item.isHovered = true"
        (mouseleave)="item.isHovered = false"
      >
        <ng-container *ngIf="item.showIcon">
          <img
            [src]="item.isOpen || item.isHovered ? item.goldenIcon : item.icon"
            alt=""
          />
        </ng-container>
        <a>{{ item.title }}</a>
        <div *ngIf="item.showSubMenu">
          <img
            style="margin-top: 3px;"
            [src]="item.isOpen ? '../../../assets/icons/angle-up.svg' : '../../../assets/icons/angle-black.png'"
            alt=""
          />
        </div>
      </div>
      <ul *ngIf="item.isOpen && item.showSubMenu" class="submenu">
        <li
          *ngFor="let subItem of item.subMenu"
          class="submenu-item"
          [class.active]="subItem.isHovered || isSubMenuActive(subItem.route)"
          (mouseover)="subItem.isHovered = true"
          (mouseleave)="subItem.isHovered = false"
        >
          <ng-container *ngIf="subItem.showIcon">
            <i [class]="subItem.icon"></i>
          </ng-container>
          <a
            [routerLink]="subItem.route"
            [ngClass]="{ 'active': subItem.isHovered || isSubMenuActive(subItem.route) }"
          >
            {{ subItem.title }}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
